.header{

    height: 130px;
   
    border: solid 5px #FB7B47;
    
}
.logo{
    height: 100px;
 
    
}
.title{
    color: #FB7B47;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-top: 10%;
    margin-left: 5px;
   
   
  


}